<div class="pl-4 media-pl mb-8" fxFlex="100">
    <p-dropdown [options]="Datalist" [(ngModel)]="selectedId" (onChange)='onSelectOut()' filter="true" filterBy="label" [style]="{'width':'90%','height':'40px'}">
        <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
        </ng-template>
        <ng-template let-value pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 35px;">
                <div style="font-size:14px;margin-top:4px">{{value.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>

    <button pButton type="button" icon="pi pi-plus-circle" iconPos="left" (click)='dialogShowHandler()'></button>

</div>

<ng-container>
    <p-dialog keepInViewport='true' [maximizable]="true" modal='true' [(visible)]="isDialogvisible" [style]="{width: '60vw'}" [baseZIndex]="1" transitionOptions='150ms cubic-bezier(0, 0, 0.2, .99)'>

        <ng-content></ng-content>

    </p-dialog>
</ng-container>