<div [class.alternative]="isDarkTheme">
    <mat-toolbar class="example-header">
        <ng-container>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </ng-container>
        <ng-container>
            <mat-slide-toggle (click)='onThemeChange()'>


                <mat-icon>bedtime</mat-icon>

            </mat-slide-toggle>
        </ng-container>




    </mat-toolbar>

    <mat-sidenav-container autosize class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
            <mat-nav-list>
                <a mat-list-item *ngFor="let nav of fillerNav" routerLink="{{nav.url}}">{{nav.name}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="example-footer">Footer</mat-toolbar>
</div>