.example-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding-right: 20px;
  /* background: rgba(214, 88, 88, 0.932); */
}

.example-header {
  position: fixed;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.content {
  /* display: flex;
  flex-direction: column;
  overflow: scroll; */
  padding: 10px;
}
