


<div style="overflow: auto;height:450px;">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
      <div class="mt-4 input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Catagory Name </span>
          </div>
          <input required minlength="3" type="text" class="form-control" name="Name" #Name="ngModel"[(ngModel)]="service.formData.Name">
          <div class="text-left text-danger" *ngIf="Name.invalid && Name.touched">
          Please Enter Properly
      </div>
      </div>
      <div class="mt-4 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Catagory Code </span>
        </div>
        <input required minlength="3" type="text" class="form-control" name="Code" #Code="ngModel"[(ngModel)]="service.formData.Code">
        <div class="text-left text-danger" *ngIf="Name.invalid && Name.touched">
        Please Enter Properly
    </div>
    </div>

      <button class="mt-4" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Create
      </button>
  
  
 

  </form>
</div>