<div class="myContainer">
  <div class="content">
    <div class="title">
      <img
        src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg"
        alt="Angular"
        class="myImage"
      />

      <h1>Hello There !</h1>
      <h4>
        Reusable Angular Mat-Input-Form Group Component
      </h4>
    </div>

    <form class="example-form" [formGroup]="form" novalidate>
      <my-input
        formControlName="firstName"
        placeholder="First Name"
        [required]="valid"
      >
      </my-input>

      <my-input
        formControlName="lastName"
        placeholder="Last Name"
        [required]="!valid"
      ></my-input>

      <my-input
        formControlName="address"
        placeholder="Present Address"
        [required]="!valid"
      ></my-input>

      <my-input
        formControlName="contactNo"
        placeholder="Phone No"
        [required]="!valid"
      ></my-input>

      <div class="myBtn">
        <button
          mat-raised-button
          color="accent"
          type="button"
          [disabled]="!form.valid"
          (click)="submitForm()"
        >
          submit
        </button>
      </div>
    </form>
  </div>
  <div class="myFooter">
    {{ form.value | json }}
  </div>
  <div class="myFooter">
    <footer class="myFooter">
      Made by ❤ Sefat Anam |
      <a class="text" href="https://github.com/sefatanam/ucmp">GitHub 💬</a>
    </footer>
  </div>
</div>

<!-- <div>
  <h3>Practice with Mosh</h3>
  <input type="text" [(ngModel)]="courses.title" />
  <h1>{{ courses.title | titleCase }}</h1>
</div> -->

<!-- <div>
  <h1>{{ courses.title |summary }}</h1>
  <h1>{{ courses.price | currency:'AUD':true:'4.1-2'}}</h1>
  <h1>{{ courses.students | number }}</h1>
  <h1>{{ courses.releaseDate | date:'shortTime' }}</h1>
  <h1>{{ courses.rating | number:'1.2-2' }}</h1>
</div> -->

<!-- <img src="{{imageUrl}}" alt="image from coponent"/> -->
<!-- <img [src]="imageUrl" alt="image from coponent"/> -->
<!-- 
<div (click)="onDivClicked($event)">
  <button (keyup.enter)="onSave($event)">Save</button>
</div> -->

<!-- Dependencies of ngModel is FormModule -->
<!-- <input  [(ngModel)]='email' (keyup.enter)="onSave()" />
<input  [(ngModel)]='email' (keyup.enter)="onSave()" readonly/> -->
