<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shop Mangment System</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!-- Catagory -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Catagory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a><button routerLink="" class="m-4 btn btn-light btn-outline-primary" Button label="CatagoryScreen"
              (click)="CatagoryScreen=true;ProductScreen=false">Create</button>
          </a>
        </div>
      </li>
      <!-- Product -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a><button routerLink="" class="m-4 btn btn-light btn-outline-primary" Button label="productScreen"
              (click)="ProductScreen=true;CatagoryScreen=false">Create</button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<app-catagory *ngIf="CatagoryScreen"></app-catagory>
<app-product *ngIf="ProductScreen"></app-product>
<!-- <app-show-catagory *ngIf="CatagoryScreen"></app-show-catagory> -->
<!-- <router-outlet></router-outlet> -->