<div class="content" fxLayout="row wrap" fxLayoutGap="10px grid">
    <app-reus-ptable [Columns]='Columns' [DataLists]='DataLists' (Search)='searchClick($event)' (Edit)='editClick($event)' (Delete)="deleteClick($event)"></app-reus-ptable>
</div>
<!-- 
<h3 style="text-align: center;">My Github Followers</h3>
<div class="content" fxLayout="row wrap" fxLayoutGap="10px grid">


    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </ng-container>

    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </ng-container>

    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </ng-container>

    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </ng-container>

</div> -->