<div class="content" fxLayout="row wrap" fxLayoutGap="10px grid">


    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">

            </mat-card>
        </div>


    </ng-container>

    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">

            </mat-card>
        </div>


    </ng-container>

    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">

            </mat-card>
        </div>


    </ng-container>

    <ng-container *ngFor='let follower of followers'>
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{follower.login}}</mat-card-title>
                    <mat-card-subtitle class="text-oneline ">{{follower.html_url}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{follower.avatar_url}}" alt="{{follower.avatar_url}}" class="img">

            </mat-card>
        </div>


    </ng-container>

</div>