.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.example-card {
  max-width: 280px;
  margin: 2px;
  overflow: hidden;
}

.example-header-image {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover; */
}
.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
}

.content {
  padding: 16px;
  width: 100%;
  height: 100%;
}

.mat-card {
  margin-bottom: 16px;
}

.img {
  overflow: hidden;
}
