.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  width: 100%;
  height: 100%;
}

/* .mat-card {
  max-width: 280px;
  margin: 2px;
  overflow: hidden;
} */

.img {
  overflow: hidden;
}

::ng-deep .mat-card {
  max-width: 280px;
  margin: 2px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  background-color: #f7f7f7;

  /* border: 55px solid #f9f9; */
  border-radius: 10px !important;
  /* border: #67a6d6 !important; */
  /* border: 3px dotted #2d2d2d; */
  border: 3px solid #000;
  box-shadow: 15px 15px 15px 20px #aed1bb;
}
::ng-deep .mat-card:hover {
  transition: 0.5s ease;
  max-width: 280px;
  margin: 2px;
  overflow: hidden;

  /* border: 55px solid #f9f9; */
  border-radius: 10px !important;
  /* border: #67a6d6 !important; */
  border: 3px solid #65fc9f;
  transform: scale(0.99);
}
