<div class="">
  <div class="content">
    <div class="title">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" alt="Angular" class="myImage" />

      <h1>Hello There !</h1>
      <h4>
        Reusable Angular Mat-Input-Form Group Component
      </h4>
    </div>

    <form class="example-form" [formGroup]="form" novalidate>
      <my-input formControlName="firstName" placeholder="First Name" [required]="valid"></my-input>

      <my-input formControlName="lastName" placeholder="Last Name" [required]="!valid"></my-input>

      <my-input formControlName="address" placeholder="Present Address" [required]="!valid"></my-input>

      <my-input formControlName="contactNo" placeholder="Phone No" [required]="!valid"></my-input>

      <mat-form-field appearance="outlined">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="createOn">
        <!-- <input matInput type="datetime-local" formControlName="createOn"> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>



      <div class="myBtn">
        <button mat-raised-button color="accent" type="button" [disabled]="!form.valid" (click)="submitForm()">
          submit
        </button>
      </div>
      <!-- <div class="myBtn">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="getData()"
        >
          submit
        </button>
      </div> -->
    </form>
  </div>
  <div class="myFooter">
    {{ form.value | json }}
  </div>
  <div class="myFooter">
    <footer class="myFooter">
      Made by ❤ Sefat Anam |
      <a class="text" href="https://github.com/sefatanam/ucmp">GitHub 💬</a>
    </footer>
  </div>
</div>