<h3>Row Editing</h3>
<p-table [value]="members" dataKey="id" editMode="row">
  <ng-template pTemplate="header">
    <tr>
      <th>Serial</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact No</th>
      <th>Address</th>
      <th style="width: 8em;">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="rowData">
      <td>{{ rowData.id }}</td>
      <td>
        {{ rowData.firstName }}
      </td>
      <td>
        {{ rowData.lastName }}
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.contactNo" [ngStyle]="{ width: '100%' }" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.contactNo }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.address" [ngStyle]="{ width: '100%' }" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.address }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="text-align: center;">
        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: 0.5em;" (click)="onRowEditSave(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>