@import "~@angular/material/theming";
@include mat-core();

$NgPractice-primary: mat-palette($mat-indigo);
$NgPractice-accent: mat-palette($mat-pink, A200, A100, A400);

$NgPractice-warn: mat-palette($mat-red);
$NgPractice-theme: mat-light-theme(
  $NgPractice-primary,
  $NgPractice-accent,
  $NgPractice-warn
);
@include angular-material-theme($NgPractice-theme);

$alt-primary: mat-palette($mat-yellow);
$alt-accent: mat-palette($mat-grey, 200);

$NgPractice-theme-to: mat-dark-theme($alt-primary, $alt-accent);

.alternative {
  @include angular-material-theme($NgPractice-theme-to);
}
